body{
    background: #FAF6D4;
    background-image: url(/Assets/img/Patrón\ parte\ superior1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 191px;
    margin: unset;
    background-size: 400px;
}

.bodyImg{
    background-image: url(/Assets/img/Patrón\ parte\ superior.svg);
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
    height: 390px;
    margin: unset;
}
.content{
    padding: 10px;
}

.title_Prinicipal--h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-text-stroke: 2.7px #CF1E18;
    color: #ffffffdf;
    font-size: 2.7rem;
    animation: bounce 1.5s ease forwards;
    animation-delay: 0.5s; /* Retraso para que la animación comience después de un corto tiempo */
}

h1.title_Prinicipal--h1 span {
    color: #CF1E18;
    display: block;
    -webkit-text-stroke: 2px transparent;
    text-align: center;
    margin-top: -8px;
}

.titlePrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden; /* Añadido para ocultar el desbordamiento del texto */
}

@keyframes bounce {
    0% {
        transform: translateY(-100%); /* Empieza fuera de la pantalla */
    }
    25% {
        transform: translateY(30%); /* Baja a la mitad de la pantalla */
    }
    50% {
        transform: translateY(-15%); /* Rebote suave */
    }
    75% {
        transform: translateY(10%); /* Rebote suave */
    }
    100% {
        transform: translateY(0); /* Rebote suave */
    }
}


.titleFood{
    color: #CF1E18;
    font-size: 1.9rem;
    font-weight: bold;
    position: relative;
    bottom: 40px;
    font-family: "Lilita One", sans-serif;
}

.titleFood--text {
    margin-top: -15px;
}

.titleFood--text2 {
    margin-top: -55px;
    font-size: 13px;
}

.titleFood--text2 p {
    font-weight: bold;
}

.titleFood--text2 span {
    font-size: 6.2px;
    font-weight: 100;
}

.titleFood--text p {
    font-size: 13px;
    font-weight: bold;
}

.titleFood--text span {
    font-size: 6.2px;
    font-weight: 100;
}

.main{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 50px;
}

img.background {
    position: relative;
    bottom: 922px;
    right: 45px;
    width: 139%;
}

.imgHamburger {
    display: flex;
    flex-direction: column;
    position: relative; /* Añadido */
}

.firstHamburger {
    position: relative;
    bottom: 103px;
    right: 88px;
    width: 106px;
    animation: bounce 1.5s ease forwards;
    animation-delay: 0.5s; /* Retraso para que la animación comience después de un corto tiempo */
}

.secondHamburger {
    position: absolute;
    width: 157px;
    right: 26px;
    top: 33px;
    animation: bounce 1.5s ease forwards;
    animation-delay: 0.5s; /* Retraso para que la animación comience después de un corto tiempo */
}

@keyframes bounce {
    0% {
        transform: translateY(-100%); /* Empieza fuera de la pantalla */
    }
    25% {
        transform: translateY(30%); /* Baja a la mitad de la pantalla */
    }
    50% {
        transform: translateY(-15%); /* Rebote suave */
    }
    75% {
        transform: translateY(10%); /* Rebote suave */
    }
    100% {
        transform: translateY(0) translateX(0); /* Rebote suave y regresa a la posición original */
    }
}


.displayFood {
    display: flex;
    gap: 30px;
}

.h2Extras{
    -webkit-text-stroke: 2.5px #CF1E18;
    color: #ffffff1f;
    font-weight: bold;
    font-size: 1.9rem;
    font-family: "Lilita One", sans-serif;
}

footer {
    background-image: url(/Assets/img/Patrón\ parte\ inferior.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 375px;
    position: relative;
    bottom: 190px;
}

.bebida {
    position: relative;
}

.bebida.static {
    opacity: 1; /* Mostrar la imagen estática al cargar la página */
}

.bebida.show {
    animation: bounce 4.5s ease forwards;
    animation-delay: 0.5s; /* Retraso para que la animación comience después de un corto tiempo */
}

@keyframes bounce {
    0% {
        transform: translateY(-100%); /* Empieza fuera de la pantalla */
    }
    25% {
        transform: translateY(30%); /* Baja a la mitad de la pantalla */
    }
    50% {
        transform: translateY(-65%); /* Rebote suave */
    }
    75% {
        transform: translateY(10%); /* Rebote suave */
    }
    100% {
        transform: translateY(0); /* Rebote suave */
    }
}


img.bebida {
    position: relative;
    top: 88px;
    left: 11px;
    /* width: 200px; */
    height: 241px;
}


.tablet\/desktop {
    position: relative;
    margin-left: 345px;
    bottom: 180px;
}

.tablet\/desktop2 {
    position: relative;
    bottom: 280px;
    margin-left: 70px;
}

.tablet\/desktop3 {
    position: relative;
    margin-left: 345px;
    margin-top: -214px;
    bottom: 185px;
}

.tablet\/desktop *, .tablet\/desktop2 * {
    font-size: 1.2rem;
}

.tablet\/desktop span, .tablet\/desktop2 span {
    font-size: 10px;
}

.tablet\/desktop h2, .tablet\/desktop2 h2 {
    font-size: 2rem;
}

/*tablet responsive*/

@media screen and (min-width: 400px) and (max-width: 1024px) {
    body {
        background-size: 830px;
        height: 252px;
    }
}

@media screen and (min-width: 400px) and (max-width: 1024px) {
    .firstHamburger {
        width: 120px;
    }
}

@media screen and (min-width: 675px) and (max-width: 1024px) {
    .firstHamburger {
        width: 230px;
        position: relative;
        bottom: 145px;
    }
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
    footer {
        width: 56%;
        bottom: 380px;
        height: 380px;
    }
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
    .titleFood--text span {
        font-size: 10px;
    }
}

@media screen and (min-width: 675px){
    .displayFood {
      display: none;
    }
}

@media screen and (max-width: 675px){
    .tablet\/desktop, .tablet\/desktop2, .tablet\/desktop3 {
      display: none;
    }
}

@media screen and (min-width: 675px){
    .titleFood--text p {
        font-size: 1.2rem;
    }
}

